body{
    display: flex;
    height: 10px;
}
.box{
  margin-top: 5px;
  border: 2px solid red;
  margin-left: 500px;
  margin-right: 200px;
  background-image:linear-gradient(#fdfafa 60%, #c1c1c1  40%);
  width: 700px;
  height: 350px;
  align-items: center;
  float: right;
 }
#top{
font-family: cursive;

background-color: 30% azure;

}
#bottom{
  background-color: 70% dimgrey; 

}
.links{
  padding:10px;
  color: rgb(125, 3, 185);
  height:auto;
}
#l1{
  height: 8px;
}
#l2{
  height: 8px;
}
#bt{
  bottom:2px;
  height:10px;
  font-size:5px;
}
#lk1{
  font-size: 10px ;
  color: rgb(125, 3, 185);
  right:550px;
  align-items: center;
}
#lk2{
    font-size: 10px ;
    color: rgb(125, 3, 185);
    right:720px;
    top:365px;
  }
#lk3{
  font-size: 10px ;
  color: rgb(125, 3, 185);
  right:520px;
  top:350px;
}
#lk4{
    font-size: 10px ;
    color: rgb(125, 3, 185);
    right:350px;
    top:350px
}
#lk5{
    font-size: 10px ;
    color: rgb(125, 3, 185);
    right:650px;
}
#lk6{
    font-size: 10px ;
    color: rgb(125, 3, 185);
    right:400px;
}
#lk7{
    font-size: 10px ;
    color: rgb(125, 3, 185);
    right:520px;
}